@page "/resign-applications"
@inherits ResignationApplicationsBase

<ShowDetailsPopup Resignation="@resignDetails" Approver="@approverResponse" UserDetails="@userResponse" Title="Resignation Details"></ShowDetailsPopup>
<h3>Resignation Applications</h3>
<div class="container">
    @if (resignation.Count > 0)
    {
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Employee</td>
                            <td>APPLIED ON</td>
                            <td>RESIGN DATE</td>
                            <td>RELIEVING DATE</td>
                            <td>STATUS/ACTION</td>
                            <td>Details</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var res in resignation)
                        {
                            @if (@res.approvedBy == null)
                            {

                                <tr class="align-baseline">
                                    <td class="fw-bold">@userResponse.name <br /> <span class="empId">(@userResponse.employeeId)</span></td>
                                    <td class="fw-bold">@res.createdAt.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@res.resignationDate.Date.ToString("dd/MM/yyyy")</td>
                                    <td><input type="date" @bind-value="@res.relievingDate" class="input-backgound" /></td>
                                    <td>
                                        <select @onchange="e => UpdateStatus_Click(e, res)" class="p-2">
                                            <option value="1">Pending</option>
                                            <option value="3">Approve</option>
                                            <option value="4">Disapprove</option>
                                        </select>
                                    </td>
                                    <td>
                                        <h6 style="color:gray" class="ms-3"><i class="bi bi-eye-fill" @onclick="ShowDetails"></i></h6>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*pagination*@
        <div class="row">
            <div class="col justify-content-end me-3 mt-3">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end">
                        <li class="page-item">
                            <button disabled="@IsFirstPage" @onclick="GoToPreviousPage" class="pagination-buttons">
                                <span aria-hidden="true" class="page-link">&laquo;</span>
                            </button>

                        </li>

                        <li class="page-item"><span class="page-link currentPage">@pagination.CurrentPage</span></li>
                        <li class="page-item">
                            <button disabled="@IsLastPage" @onclick="GoToNextPage" class="pagination-buttons">
                                <span aria-hidden="true" class="page-link">&raquo;</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    }
    else
    {
        <NoRecordFound></NoRecordFound>
    }
</div>


@code {
    private bool IsFirstPage => pagination.CurrentPage == 1;
    private bool IsLastPage => pagination.CurrentPage == pagination.TotalPages;
    private User userResponse = new User();
    private User approverResponse = new User();
    private ResignationWithUser resignDetails = new ResignationWithUser();
    private async Task GoToNextPage()
    {
        if (!IsLastPage)
        {
            pagination.CurrentPage++;

            await LoadData();
        }
    }

    private async Task GoToPreviousPage()
    {
        if (!IsFirstPage)
        {
            pagination.CurrentPage--;
            await LoadData();
        }
    }
    private User SerializeResponse(object res)
    {
        string Response = JsonSerializer.Serialize(res);
        List<User> Details = JsonSerializer.Deserialize<List<User>>(Response)!;
        return Details[0];
    }
    public void ShowDetails(ResignationWithUser res)
    {
        resignDetails = res;
        if (res.approvedBy == null)
        {
            approverResponse.name = "N/A";
        }
        else
        {
            approverResponse = SerializeResponse(res.approverDetails);
        }
        userResponse = SerializeResponse(res.userDetails);
        jSRuntime.InvokeVoidAsync("ShowDetailsModal");
    }
}