@page "/resign-history"
@inherits ResignationHistoryBase

<h3>Resignation History</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
              <thead>
                <tr>
                 <td>APPLIED ON</td>
                  <td>RESIGN DATE</td>
                  <td>RELIEVING DATE</td>
                  <td>STATUS</td>
                  <td>APPROVED BY</td>
                  <td>ACTION</td>
                </tr>
              </thead>
              <tbody>
                   @if (resignation != null)
                    {
                           @foreach(var res in resignation){
                                <tr>
                                    <td class="fw-bold">@res.createdAt.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@res.resignationDate.ToString("dd/MM/yyyy")</td>
                                    <td>@res.relievingDate.ToString("dd/MM/yyyy")</td>
                                    @if (@res.status == 1)
                                    {
                                        <td><span class="bg-warning px-1 rounded text-white text-weight">Pending</span></td>
                                    }
                                    
                                    else if (@res.status == 3)
                                    {
                                        <td><span class="bg-success px-1 rounded text-white text-weight">Approved</span></td>
                                    }
                                    else if (@res.status == 4)
                                    {
                                         <td><span class="bg-danger px-1 rounded text-white text-weight">Disapproved</span></td>
                                    }

                                    @if (@res.approvedBy == null)
                                    {
                                        <td>N/A</td>
                                    }
                                    else
                                    {
                                        <td>@res.approvedBy</td>
                                    }
                                    <td>
                                        <i class="oi oi-eye ms-3" style="cursor:pointer"></i>
                                    </td>
                                    
                                </tr>
                           }  
                        }
                    else
                    {
                        <tr>
                            <td>No Records Found</td>
                        </tr>
                    }
              </tbody>
            </table>
        </div>
     </diV>  
</div>





